# Whitelist tracked project files.
*
!/.gitignore
!/CMakeLists.txt
!/README.md
!/build.bat
!/Falcon.Network/
!/Falcon.Network/**
!/Falcon.Protocol/
!/Falcon.Protocol/**
!/Falcon.Server/
!/Falcon.Server/**

# Keep generated and runtime data ignored.
/.idea/
/build/
/cmake-build-debug/
/server.properties
/build.txt
/bds_links.json
/worlds/
/players/
/ops.txt
/tools/
/.github/workflows/
